.final-url {
  text-align: center;
}

.upperWrap,
.lowerWrap {
  overflow: hidden;
  padding: 5px;
  font-weight: 700;
}

.upper {
  font-size: 1rem;
  text-transform: uppercase;
}

.lower {
  font-size: 2rem;
}

.line {
  height: 1px;
  background: var(--main-text-color);
}

@media (max-width: 767px) {
  .lower {
    font-size: 1.2rem;
  }
}
