.p-organizationchart-node-content {
  padding: 0 !important;
}

.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  display: none;
}

.ast-node {
  color: var(--main-text-color);
  background: var(--main-bg-color);
  &.modified {
    background-color: var(--parser-modified-color);
    .ast-node__label {
      background: var(--parser-modified-color);;
      color: var(--main-text-color);;
    }
    .ast-node__value {
      background: var(--main-bg-color);
    }
  }
}

.ast-node__label {
  background: var(--parser-bg-color);
  color: var(--main-bg-color);
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 0.25rem 1rem;
}
.ast-node__value {
  padding: 0.25rem 1rem;
}

.ast-node__parent {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
